<template>
  <q-page class="row">
    <q-card class="col-xs-9">
      <q-toolbar>
        <q-input
          dense
          placeholder="Search"
          borderless
          class="full-width"
          :model-value="search"
        />

        <q-icon name="mdi-magnify" />
      </q-toolbar>
      <ToDosList bordered> </ToDosList>
    </q-card>

    <div class="col-xs-3">
      <q-toolbar class="bg-primary">
        <CreateToDoButton
          fab
          style="margin-bottom: -42px"
          class="q-ml-md"
          color="secondary"
          icon="mdi-plus"
        />
        <NewToDoDialog />
      </q-toolbar>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";
import CreateToDoButton from "components/CreateToDoButton.vue";
import NewToDoDialog from "components/NewToDoDialog.vue";
import ToDosList from "components/ToDosList.vue";
export default {
  components: {
    CreateToDoButton,
    NewToDoDialog,
    ToDosList,
  },

  setup() {
    return {
      active: ref(true),
      search: "",
    };
  },
};
</script>
