<template>
  <q-dialog v-model="card">
    <q-card class="my-card">
      <q-card-section>
        <div class="q-pa-md">
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-input
              filled
              v-model="name"
              label="Your name *"
              hint="Name and surname"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />

            <q-input
              filled
              type="textarea"
              v-model="description"
              label="Write something *"
              lazy-rules
            />

            <div class="q-gutter-md row items-start">
              <q-date v-model="model" mask="YYYY-MM-DD HH:mm" />
              <q-time v-model="model" mask="YYYY-MM-DD HH:mm" />
            </div>

            <q-toggle v-model="accept" label="I accept the license and terms" />

            <div>
              <q-btn label="Submit" type="submit" color="primary" />
              <q-btn
                label="Reset"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn v-close-popup flat color="primary" label="Potvrdi" />
        <q-btn v-close-popup flat color="primary" label="Odustani" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      card: ref(true),

      stars: ref(3),
      date: ref("2023/02/01"),
      model: ref("2023-02-22 21:02"),
    };
  },
};
</script>
