<template>
<q-list> 
<q-item>
<q-item-section side>
<UpdateToDoCheckbox />
</q-item-section>

<q-item-section>
Go shopping
</q-item-section>

<q-item-section side>
<q-btn flat round size="sm" icon="mdi-delete" />



</q-item-section>


</q-item> 
</q-list>
</template>

<script>
import UpdateToDoCheckbox from 'components/UpdateToDoCheckbox.vue'
export default {
   components: {
    UpdateToDoCheckbox
   }
}
</script>