// src/css/quasar.variables.scss

$primary: #333333;
$secondary: #26759a;
$accent: #2246c9;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
